div.scroll {
    /*Set a css background */
   background:url(http://phpschool.com/skin/blue/images/) fixed;
   
   /*Dont mind the rest*/
   width:500px;
   height:300px;
   line-height:300px;
   margin:0 auto;
   margin-top:150px;
   text-align:center;
   color:#000;
   font-family:'Open Sans' sans-serif;
}
body {
   min-height:3000px;
}
a {
   margin-top:20px;
   display:block;
   text-align:center;
   text-decoration:none;
   font-family:'Open Sans' sans-serif;
   color:#666;
   -webkit-transition:opacity .5s;
   transition:opacity .5s;
}
a:hover {
    -webkit-transition:opacity .5s;
   transition:opacity .5s;
   opacity:.5;
}